.brand {
  gap: 10px;
  height: 64px;
  display: flex;
  min-height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a,
a:link,
a:visited {
  color: #5985e1;
  text-decoration: none;
}
