<mat-sidenav-container autosize autoFocus>
  <mat-sidenav #sidenav mode="side" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" [(opened)]="isShowSidebar">
    <div>
      <iso-brand [logoAplicacao]="logoAplicacao" [nomeAplicacao]="nomeAplicacao"></iso-brand>
      <div>
        <iso-sidebar (toggleSidenav)="sidenav.close()"></iso-sidebar>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <iso-toolbar (toggleSidenav)="sidenav.toggle()" [pageTitle]="pageTitle"></iso-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>