################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
*.crt
*.key
/ISO.Travel/.vs/ISO.Travel/CopilotIndices/17.14.698.11175
/ISO.Travel/.vs/ISO.Travel/v17/.suo
/ISO.Travel/.vs/ISO.Travel/v17/DocumentLayout.json
/ISO.Travel/.vs/ISO.Travel/v17/DocumentLayout.backup.json
