:host {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

div {
  width: 100%;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: lightblue;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.header {
  text-align: center;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  overflow: hidden;
  padding: 0 5px;
  line-break: unset;
  word-wrap: initial;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}
