:host {
  height: 100px;
}

.sidenav-container {
  width: 100%;
}

.sidebar-main {
  display: flex;
  max-height: 100%;
  flex-direction: column;

  .menu {
    overflow-y: auto;
  }
}

.brand {
  display: flex;
  min-height: 64px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100vh;
}

.main-content {
  display: flex;
  overflow-y: auto;
  max-height: 100vh;
  flex-direction: row;
  align-items: center;
  margin: 16px 16px 0 16px;
  justify-content: space-between;

  .content-left {
    width: calc(100vh - 1rem);
  }

  .content-right {
    width: calc(200vh - 1rem);
  }
}
