.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  padding-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-list-single-selected-option,
.mat-list-single-selected-option:hover,
.mat-list-single-selected-option:focus {
  background: none;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: auto;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
